body {
  background-color: rgb(180, 180, 180);
  height: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
}
#root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}
.whole-page {
  background-color: rgba(30, 0, 163, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.code-tool {
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 65%;
  padding: 1rem;
  gap: 0.5rem;
}
.submit-btn {
  background-color: #088be2;
  font-weight: bolder;
  font-size: medium;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
}
.submit-btn:hover {
  background-color: #0a6ebd;
}
