/* || GENERAL STYLING*/
.submit-btn {
    background-color: var(--color-primary-2);
    border-radius: 0.25rem;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
}
.submit-btn:hover {
    background-color: var(--color-primary-1);
}
.redirect-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.redirect-div a {
    color: var(--color-primary-1);
    text-decoration: none;
}
.loader-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15%;
}
.chat-loader-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 0%;
}
.task-loader-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}
.expand-condense-img {
    background-color: #EEEEEE;
    width: 1.5rem;
}

/* || COMPONENTS*/
/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-3);
    border-radius: 0.5rem;
    color: #EEEEEE;
    padding: 0.75rem;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
.navbar img {
    height: 3rem;
    width: auto;
}
.nav-item {
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.nav-item:hover {
    color: var(--color-primary-1);
}
.site-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-surface-2);
    /*color: var(--color-primary-1);*/
    color: #EEEEEE;
    gap: 0.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;
}
.site-title a {
    color: inherit;
    text-decoration: inherit;
}
/*Code Tool*/
.code-tool {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
}
/*Chat Tool*/
.chat-tool {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    width: 35%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
    box-sizing: border-box;
}
.chat-space {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
}
.chat-message {
    background-color: var(--color-surface-3);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    max-width: 80%;
}
.user-chat {
    align-self: flex-end;
    color: var(--color-primary-6)
}
.tutor-chat {
    align-self: flex-start;
}
/*Output*/
.output {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
    position: relative;
}
.current-task-card {
    background-color: var(--color-surface-3);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

/* display hint-card */
.hint-popup {
    position: relative;
    bottom: -10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-surface-3);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .hint-content {
    max-width: 400px;
    text-align: center;
  }
  
  .close-hint {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--color-primary-3);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  

/*CredForm*/
.cred-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 50rem;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem;
}
.cred-form form {
    gap: 1rem;
}
/*ProfileCard*/
.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-items: start; */
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    width: 30%;
    height: fit-content;
}
.profile-card img {
    border-radius: 50%;
    max-width: 25rem;
    min-width: 20rem;
}
.profile-card div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}
/*TopicCards*/
.topic-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    margin: 1rem;
    width: 70%;
}
.topic-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-3);
    border-radius: 0.25rem;
    padding: 0 1rem 0 1rem;
    height: fit-content;
    transition: height 5s;
}
.topic-detail:hover {
    color: var(--color-primary-1);
    cursor: pointer;
}
.topic-detail:hover div img {
    background-color: var(--color-primary-1);
}
.topic-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topic-detail div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.topic-detail div p:nth-child(1) {
    min-width: 10rem;
    text-align: left;
}
.topic-detail div p:last-child {
    width: 3rem;
    text-align: right;
}
/*TaskCards*/
.task-cards-container {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
}
.task-cards-container.active {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 200rem;
    padding: 0.25rem;
    overflow-y: auto;
}
.task-card {
    display: flex;
    flex-direction: column;
    border-top: var(--color-surface-6) solid 0.1rem;
    border-radius: 0;
}
.task-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}
.task-card-info-1 {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 1rem;
}
.task-card-info-2 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.task-card-info-2 p {
    min-width: 6rem;
    text-align: center;
}
.task-card-stats p:last-child {
    min-width: 3rem;
}
.task-card-feedback p:first-child:hover {
    color: var(--color-primary-1);
    cursor: pointer;
}
.task-card-feedback p:first-child:after {
    content: '\002B';
    margin: 0.5rem;
}
.task-card-feedback p:first-child.active:after {
    content: '\2212';
    margin: 0.5rem;
}
.task-card-feedback p:last-child {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.task-card-feedback p:last-child.active {
    max-height: 10rem;
    overflow-y: auto;
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    padding: 0.5rem;
}


/* || PAGES*/
/*Practice Page*/
.practice-page {
    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    height: calc(100vh - 100px);
}

/*Dashboard Page*/
.dashboard-page {
    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start; 
    width: 100%;
    height: auto;
    color: #EEEEEE;
}
.dashboard-content {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    width: 100rem;
}
.topic-cards-header {
    background-color: var(--color-primary-1);
    color: inherit;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 1rem;
    margin: -1rem -1rem 0.5rem -1rem;
}



.topics-card,
.tasks-card {
    flex: 1; /* Grow to fill available space */
    background-color: #5a5454;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px; /* Ensures cards shrink correctly */
    max-height: 420px; /* Fixed height for the card */
    overflow-y: auto; /* Make content scrollable vertically */
}

/*Sign In and Sign Up Page*/
.sign-page {
    background-color: var(--color-surface-1);
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invalid-cred {
    background-color: rgba(255, 0, 0, 0.253);
    border: red solid 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 51.5rem;
    margin: 1rem;
}
