/* || GENERAL STYLING*/
.submit-btn {
    background-color: var(--color-primary-2);
    border-radius: 0.25rem;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
}
.submit-btn:hover {
    background-color: var(--color-primary-1);
}
.redirect-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.redirect-div a {
    color: var(--color-primary-1);
    text-decoration: none;
}



/* || COMPONENTS*/
/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface-3);
    border-radius: 0.5rem;
    color: #EEEEEE;
    padding: 0.75rem;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}
.navbar img {
    height: 3rem;
    width: auto;
}
.nav-item {
    font-size: 1.5rem;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.nav-item:hover {
    color: var(--color-primary-1);
}
.site-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--color-surface-2);
    /*color: var(--color-primary-1);*/
    color: #EEEEEE;
    gap: 0.25rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;
}
.site-title a {
    color: inherit;
    text-decoration: inherit;
}
/*Code Tool*/
.code-tool {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 40%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
}
/*Chat Tool*/
.chat-tool {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5rem;
    width: 35%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
    box-sizing: border-box;
}
.chat-space {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    overflow-y: auto;
    padding: 0.5rem;
}
.chat-message {
    background-color: var(--color-surface-3);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: fit-content;
    max-width: 80%;
}
.user-chat {
    align-self: flex-end;
    color: var(--color-primary-6)
}
.tutor-chat {
    align-self: flex-start;
}
/*Output*/
.output {
    background-color: var(--color-surface-2);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 25%;
    padding: 1rem;
    margin: 1rem;
    gap: 0.5rem;
}
.task-card {
    background-color: var(--color-surface-3);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
/*CredForm*/
.cred-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 50rem;
    padding: 1rem 2rem 2rem 2rem;
    margin: 2rem;
}
.cred-form form {
    gap: 1rem;
}
/*ProfileCard*/
.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* align-items: start; */
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    height: fit-content;
}
/*TaskDetail*/
/*TopicDetail*/
.topic-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topic-detail div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.topic-detail div p:nth-child(1) {
    min-width: 10rem;
    text-align: left;
}
.topic-detail div p:last-child {
    width: 3rem;
    text-align: right;
}


/* || PAGES*/
/*Practice Page*/
.practice-page {
    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch; 
    height: calc(100vh - 100px);
}

/*Dashboard Page*/
.dashboard-page {
    background-color: var(--color-surface-1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start; 
    width: 100%;
    height: auto;
    color: #EEEEEE;
}
.dashboard-content {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    width: 100rem;
}
.topics-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--color-surface-2);
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 0.5rem;
    margin: 1rem;
    width: 70%;
}
.dashboard-content h1 {
    background-color: var(--color-surface-4);
    color: var(--color-primary-1);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding: 1rem;
    margin: -1rem -1rem 0.5rem -1rem;
}
.topic-card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface-3);
    border-radius: 0.25rem;
    padding: 0 1rem 0 1rem;
}


.topics-card,
.tasks-card {
    flex: 1; /* Grow to fill available space */
    background-color: #5a5454;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 500px; /* Ensures cards shrink correctly */
    max-height: 420px; /* Fixed height for the card */
    overflow-y: auto; /* Make content scrollable vertically */
}

/*Sign In and Sign Up Page*/
.sign-page {
    background-color: var(--color-surface-1);
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invalid-cred {
    background-color: rgba(255, 0, 0, 0.253);
    border: red solid 0.25rem;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 51.5rem;
    margin: 1rem;
}






/* Ariana's dashboard */

/* .dashboard-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  } */
  
  
  